<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-header bg-success">
                <h5>Service Request List</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    @for (item of serviceRequestList; track $index) {
                        <div class="col-4 pt-3 pd-3">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Request Id: {{item.serviceRequestId}}</h5>
                                  <ul>
                                    <li class="card-text">Asset Id: {{item.assetId}}</li>
                                    <li class="card-text">UserId: {{item.userId}}</li>
                                    <li class="card-text">Description: {{item.description}}</li>
                                    <li class="card-text">Request Status: {{item.requestStatus}}</li>
                                    <li class="card-text">Request Date: {{item.requestDate}}</li>
                                    
                                  </ul>
                                  <a class="card-link">
                                    <button (click)="onEdit(item)" class="btn btn-warning pd-3">Edit</button>
                                  </a>
                                  <a class="card-link">
                                    <button (click)="deleteServiceRequest(item.serviceRequestId)" class="btn btn-danger pd-3">Delete</button>
                                  </a>
                                </div>
                              </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-header bg-success">
                <h5>Add Service Request</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <label for="">Asset Id</label>
                        <input type="text" [(ngModel)]="serviceRequestObj.assetId" class="form-control">
                    </div>
                    <div class="col-12">
                        <label for="">User Id</label>
                        <input type="text" [(ngModel)]="serviceRequestObj.userId" class="form-control">
                    </div>
                    <div class="col-12">
                        <label for="">Description</label>
                        <input type="text" [(ngModel)]="serviceRequestObj.description" class="form-control">
                    </div>
                    <div class="col-12">
                        <label for="">Request Status</label>
                        <input type="text" [(ngModel)]="serviceRequestObj.requestStatus" class="form-control">
                    </div>
                    <div class="col-12">
                        <label for="">Request Date</label>
                        <input type="text" [(ngModel)]="serviceRequestObj.requestDate" class="form-control">
                    </div>
                   
                </div>
                <div class="row">
                    <div class="col-6 p-3">
                        <button class="btn btn-secondary" (click)="resetServiceRequest()">Reset</button>
                    </div>
                    <div class="col-6 p-3">
                        @if(serviceRequestObj.serviceRequestId==0){
                            <button class="btn btn-success" (click)="onSaveServiceRequest()">Save</button>
                        }@else {
                            <button class="btn btn-warning" (click)="onUpdateServiceRequest()">Update</button>
                        }
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>