.parent {
    background: linear-gradient(90deg, #c7c5f4, #776bcc);
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  .screen {
    background: linear-gradient(90deg, #5d54a4, #7c78b8);
    position: relative;
    height: 400px;
    width: 360px;
    box-shadow: 0px 0px 24px #5c5696;
    border-radius: 10px;
  }
  
  .screen__content {
    z-index: 1;
    position: relative;
    height: 100%;
    padding: 20px;
  }
  
  .forgot-password-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-title {
    font-size: 24px;
    color: #fff;
    margin-bottom: 30px;
  }
  
  .input-group {
    width: 100%;
    margin-bottom: 20px;
    position: relative;
  }
  
  .input-icon {
    position: absolute;
    top: 12px;
    left: 10px;
    color: #7875b5;
  }
  
  
  .input-field {
    width: 100%;
    padding: 10px;
    padding-left: 40px;
    border: none;
    border-bottom: 2px solid #d1d1d4;
    background: none;
    font-weight: 700;
    font-size: 14px;
    color: #000;
    transition: 0.2s;
  }
  
  .input-field:focus,
  .input-field:hover {
    outline: none;
    border-bottom-color: #6a679e;
  }
  
  .submit-btn {
    width: 100%;
    padding: 12px;
    border-radius: 26px;
    background-color: #fff;
    color: #4c489d;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    transition: 0.2s;
    font-size: 14px;
    box-shadow: 0px 2px 2px #5c5696;
  }
  
  .submit-btn:hover {
    background-color: #6a679e;
    color: #fff;
  }
  
  .screen__background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
  }
  
  .screen__background__shape {
    transform: rotate(45deg);
    position: absolute;
  }
  
  .screen__background__shape1 {
    height: 520px;
    width: 520px;
    background: #fff;
    top: -50px;
    right: 120px;
    border-radius: 0 72px 0 0;
  }
  
  .screen__background__shape2 {
    height: 220px;
    width: 220px;
    background: #6c63ac;
    top: -172px;
    right: 0;
    border-radius: 32px;
  }
  
  .screen__background__shape3 {
    height: 540px;
    width: 190px;
    background: linear-gradient(270deg, #5d54a4, #6a679e);
    top: -24px;
    right: 0;
    border-radius: 32px;
  }
  