<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-header bg-success">
                <h5>Asset Allocation List</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    @for (item of assetAllocationList; track $index) {
                        <div class="col-4 pt-3 pd-3">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Allocation Id: {{item.allocationId}}</h5>
                                  <ul>
                                    <li class="card-text">Asset Id: {{item.assetId}}</li>
                                    <li class="card-text">User Id: {{item.userId}}</li>
                                    <li class="card-text">
                                        Allocation Date: {{ item.allocationDate | date: 'yyyy-MM-dd' }}
                                    </li>
                                    <li class="card-text">
                                        Return Date: {{ item.returnDate | date: 'yyyy-MM-dd' }}
                                    </li>
                                    <li class="card-text">Status: {{item.allocationStatus}}</li>
                                  </ul>
                                  <!-- @if (isAdmin){ -->

                                    <a class="card-link">
                                        <button (click)="onEdit(item)" class="btn btn-warning pd-3">Edit</button>
                                      </a>
                                      <a class="card-link">
                                        <button (click)="deleteAssetAllocation(item.allocationId)" class="btn btn-danger pd-3">Delete</button>
                                      </a>
                                  <!-- } -->
                                
                                </div>
                              </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-header bg-success">
                <h5>Add Asset Allocation</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <label for="">Asset Id</label>
                        <input type="text" [(ngModel)]="assetAllocationObj.assetId" class="form-control">
                    </div>
                    <div class="col-12">
                        <label for="">User Id</label>
                        <input type="text" [(ngModel)]="assetAllocationObj.userId" class="form-control">
                    </div>
                    <div class="col-12">
                        <label for="">Allocation Date</label>
                        <input type="text" [(ngModel)]="assetAllocationObj.allocationDate" class="form-control">
                    </div>
                    <div class="col-12">
                        <label for="">Return Date</label>
                        <input type="text" [(ngModel)]="assetAllocationObj.returnDate" class="form-control">
                    </div>
                    <div class="col-12">
                        <label for="">Current Status</label>
                        <input type="text" [(ngModel)]="assetAllocationObj.allocationStatus" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 p-3">
                        <button class="btn btn-secondary" (click)="resetAssetAllocation()">Reset</button>
                    </div>
                    <div class="col-6 p-3">
                        <!-- @if (isAdmin){ -->
                            @if(assetAllocationObj.allocationId==0){
                                <button class="btn btn-success" (click)="onSaveAssetAllocation()">Save</button>
                            }@else {
                                <button class="btn btn-warning" (click)="onUpdateAssetAllocation()">Update</button>
                            }
                        <!-- } -->
                       
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>