<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="Home" routerLinkActive="active">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
    

        <!-- Admin-Only Links -->
        @if (isAdmin) {
          <li class="nav-item">
            <a class="nav-link" routerLink="User" routerLinkActive="active">User</a>
          </li>
         
        }

        <!-- Common Links -->
        <li class="nav-item">
          <a class="nav-link" routerLink="Asset" routerLinkActive="active">Asset</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="Asset-Request" routerLinkActive="active">Asset Request</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="Service-Request" routerLinkActive="active">Service Request</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="Asset-Allocation" routerLinkActive="active">Asset Allocation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="Audit-Request" routerLinkActive="active">Audit Request</a>
        </li>
      </ul>
      <span class="navbar-text text-light me-3 welcome-text">
        <a routerLink="Profile" class="text-decoration-none text-light">
          <i class="bi bi-person-circle"></i> Welcome, <strong>{{ username }}</strong>
        </a>
      </span>
      
      <button class="btn btn-danger" (click)="onLogout()">Logout</button>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
